<% include ../_header.ejs %>

	<h1><a target="_blank" href="http://google.com/search?q=<%= h1_title %> смотреть фильм онлайн"><%= h1_title %></a></h1>

	<%if (film.kinopoisk) { %><a href="<%= film.kinopoisk %>" target="_blank">KINOPOISK</a><br /><% } %>

	<%if (film.imdb) { %><a href="<%= film.imdb %>" target="_blank">IMDB</a><br /><% } %>

	<br />
	<button type="button" onclick="location.reload(); return false;">Get Film!</button>
	
	<br /><br />
	<img src="<%= image_url %>" alt="<%= h1_title %>" title="<%= h1_title %>" />

<% include ../_footer.ejs %>
